@charset "utf-8";


/* bbs_count  */
.bbs_info {margin-top:15px; margin-bottom:15px; word-break:break-all;}
.bbs_count {float:left; line-height:45px;}
.bbs_count span,.bbs_count strong{display:inline-block; margin-left:10px; line-height:20px;vertical-align:middle; font-size:18px; }
.bbs_count strong {margin-right:20px;color:#000;  }
.bbs_count span em {color:#000; font-weight: 600;;}
.bbs_category {float:right;}
.bbs_category input[type="text"],.bbs_category input[type="search"],.bbs_category input[type="submit"],.bbs_category select{height:45px; margin-left:3px;  border-radius: 5px; font-size:14px;box-sizing:border-box;}
.bbs_category select  {min-width:130px;}
.bbs_category input[type="text"] {width:250px; padding:0 2%; margin:0; font-weight:400;}
.bbs_category input[type="submit"] {display:inline-block; width:80px; padding:0; border:none; color:#fff; font-weight:600; background-color:#333;box-sizing:border-box;}
@media only screen and (max-width:1256px) {
    .bbs_count {display:none;}
    .bbs_category {float:none;}
    .bbs_category input[type="text"],.bbs_category input[type="search"],.bbs_category input[type="submit"],.bbs_category select {width:100%; height:40px; margin:0 0 5px 0;}
    .bbs_category input[type="text"]  {padding:0 15px;}
}

/* 정렬 */
.bbs_left{float:left;}
.bbs_right{float:right;}
.bbs_center{text-align:center;}

/* 버튼 */

.bbs_btn {display:inline-block;min-width:160px;height:50px;padding:0 20px;margin:0;font-size:20px;line-height:50px;color:#fff !important;font-weight:600;text-decoration:none;text-align:center;letter-spacing:-1px;vertical-align:top;border:1px solid transparent; border-radius:5px; background:#009cda;box-sizing:border-box;}
.bbs_btn.small{min-width:120px;height:45px;padding:0 10px;line-height:45px; font-size:16px;}
.bbs_btn.write,.bbs_btn.type01{color:#fff !important;background-color:#009cda;}
.bbs_btn.modify,.bbs_btn.type02{color:#fff !important;background-color:#333;}
.bbs_btn.reply_write,.bbs_btn.type03{color:#fff !important;background-color:#666;}
.bbs_btn.cancel,.bbs_btn.delete,.bbs_btn.type04{color:#fff !important;background-color:#666;}
.bbs_btn.list,.bbs_btn.type05{color:#fff !important;background-color:#666;}
.bbs_btn.type06{min-width:inherit;color:#f02b2b !important;background-color:transparent;}
table .bbs_btn{min-width:150px;font-size:16px;}
@media only screen and (max-width:1256px) {
    .bbs_btn,.bbs_btn[type="submit"]{width:100%; min-width:150px;height:40px; line-height:40px; font-size:16px;}
    table .bbs_btn{min-width:120px;}
}



/* bbs_explan */
.bbs_explan{display:inline-block;height:60px;margin:0 10px;line-height:60px;vertical-align:top;}
.bbs_explan.y:before{display:inline-block;width:18px;height:12px;margin-right:5px;content:'';background:url(../images/board/bbs_icon.png) -250px -150px no-repeat;}
@media only screen and (max-width:1256px) {
    .bbs_explan{display:inline-block;height:inherit;margin:2px 0;font-size:16px;line-height:18px; line-height:55px;}
}


.agree_box {text-align:left;}
.attach li{margin-top:10px;}
.attach li:first-child{margin:0;}
.attach .attach_file{margin-bottom:5px;}

/* 처리 상태 */
.status {display:inline-block; width:80px;height:40px; line-height:40px;color:#fff;text-align:center; vertical-align:middle; border-radius: 5px; font-weight:600; background-color:#599bdc;box-sizing:border-box;}
.status.type1{background-color:#599bdc;}
.status.type2{background-color:#ff9100;}
.status.type3{background-color:#666;}
@media only screen and (max-width:1256px) {
    .status {width: auto; height: 28px; line-height: 28px;padding: 0 15px; font-size: 14px;}
    .btn.status_btn {min-width: auto; height: 28px;line-height: 28px; padding: 0 15px;  font-size: 14px;}
}


/* 설명박스 */
.bbs_box{margin-bottom:30px;color:#222;background-color:#f8f8f8;}
.bbs_box .box_wrap{padding:25px 2%;}
.bbs_btn_wrap{margin-top:20px;}
.bbs_btn_wrap .bbs_btn{margin-bottom:2px; border-radius: 5px;}
@media only screen and (max-width:640px) {
    .bbs_btn_wrap{text-align:center;}
    .bbs_btn_wrap .bbs_left,.bbs_btn_wrap .bbs_right{float:none;}
    .bbs_btn_wrap .bbs_btn{width:100%;}
}

/* bbs_empty */
.bbs_empty{padding:50px 0 !important;border-bottom:1px solid #e6e6e6;text-align:center !important;}
@media only screen and (max-width:1256px){
    .bbs_empty,.bbs_table td.bbs_empty{padding:30px 2% !important;}
    .bbs_empty::before {display:none !important}
}


/* 기본게시판 */
.bbs_table{width:100%;margin:5px 0 45px;border-top:2px solid #599bdc;border-bottom:1px solid #e6e6e6;}
.bbs_table thead th{color:#333;background-color:#f2f2f2;}
.bbs_table tbody th{padding-left:20px;padding-top:33px; color:#666; text-align:left;}
.bbs_table th {padding:21px 10px; vertical-align:top;}
.bbs_table img{vertical-align:-2px;}
.bbs_table td {padding:21px 10px; color:#666; vertical-align:middle;}
.bbs_table td.title  {color:#000; font-size:18px;}
.bbs_table td label{margin:0 10px 0 2px;}
.bbs_table .explain{margin:2px 0;font-size:0.84em;line-height:1.25em;letter-spacing:-1px;}
.bbs_table .subject{text-align:left !important;}
.bbs_table .subject input{width:100%;}
.bbs_table .subject a {font-size:18px; color:#000;}
.bbs_table .subject a .text{display:inline-block;overflow:hidden;position:relative;max-width:100%;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap;}
.bbs_table .subject a .text:before{content:'';position:absolute;bottom:9px;left:0;width:0;height:1px;background-color:#565c63;opacity:0;transition:width 0.2s, opacity 0.4s;}
.bbs_table input[type="text"],.bbs_table input[type="password"],.bbs_table select,.bbs_table textarea{width:450px;padding:0 20px;margin:1px 0;}
.bbs_table textarea{width:100%; padding:20px;}


/* 글쓰기 */
.bbs_table.write.type2 {border-top:2px solid #599bdc !important;}
.bbs_table.write  {border-top:1px solid #e6e6e6;;}
.bbs_table.write tbody tr {border-bottom:1px solid  #e6e6e6;}
.bbs_table.write tbody td {padding:10px 20px;}
.bbs_table.write tbody th {padding:15px 30px; vertical-align: middle; font-weight:400;  background-color: #f2f2f2;}
.bbs_table.write  input[type="text"], .bbs_table.write  input[type="password"], .bbs_table.write select {width:350px;}
.bbs_table.write input[type="text"].phone{width:105px;text-align:left;}
.bbs_table.write input[type="text"].zipcode{width:220px !important; margin-right:10px;}
.bbs_table.write .zipcode_box {margin-top:10px}
.bbs_table.write .addr_left {float:left;width:48%;margin-top:5px;}
.bbs_table.write .addr_right {float:right;width:50%;margin-top:5px;}
.bbs_table.write input[type="text"].addr{width:100%;}
.bbs_table.write .bbs_input_box {display:inline-block; vertical-align: middle;}
.bbs_table.write .bbs_input_box label {color:#000; font-size:18px;}
@media only screen and (max-width:1256px){
    .bbs_table{margin:10px 0;}
    .bbs_table colgroup{display:none;}
    .bbs_table th,.bbs_table td{border:none !important;}
    .bbs_table tr{display:block;width:100%;}
    .bbs_table th{display:block;width:100%;padding:10px 0 2px !important;border:none;background:none;box-sizing:border-box;}
    .bbs_table td{display:block;width:100%;border:none;box-sizing:border-box;}
   
    .bbs_table input[type="text"].phone{width:31% !important;}
    .bbs_table .explain{margin-top:0;}
    .bbs_table[data-rwdb="yes"] thead{display:none;}
    .bbs_table [data-cell-header]:before{content:attr(data-cell-header);display:inline-block;}
    .bbs_table.write input[type="text"].zipcode{width: calc(100% - 108px) !important; margin-right:5px;}
    .bbs_table.write input[type="text"].addr_left{float:none;width:100%;}
    .bbs_table input[type="text"],.bbs_table input[type="password"],.bbs_table select,.bbs_table textarea{width:100% !important; height:40px; padding:0 15px;}
    .bbs_table.write tbody tr {border-bottom:0 none;}
    .bbs_table.write tbody th{background-color: #fff; font-weight: 600;;}
    .bbs_table.write tbody td {width:100%; padding:10px 0;}
    .bbs_table.write .bbs_input_box label {font-size:14px;}

    .bbs_table.write .bbs_input_box input[type="radio"], .bbs_table.write .bbs_input_box input[type="checkbox"]{margin-top:0; vertical-align: middle;}
    .bbs_table.write .zipcode_box {margin-top:5px;}


}


/* 테이블 스크롤 */
.bbs_scroll{position:relative;max-width:100%;overflow-x:auto;}
.bbs_scroll .bbs_table{min-width:600px;}

/* 기본게시판 list */
.bbs_table.list th {font-weight: 400;;}
.bbs_table.list th,.bbs_table.list td{ text-align:center;letter-spacing:-1px;border-bottom:1px solid #ced1d7; vertical-align: middle;}

@media only screen and (max-width:1256px){
    .bbs_table.list thead th{display:none;}
    .bbs_table.list tbody tr{border-bottom:1px solid #e6e6e6; padding:5px 0;}
    .bbs_table.list tbody tr:hover {background-color: transparent;}
    .bbs_table.list tbody tr:nth-child(odd){background:#f2f2f2}
    .bbs_table.list tbody td{display:block;padding:3px 2% 3px;text-align:left;border:none;}
    .bbs_table.list tbody td.subject a{color:#000; font-size:14px;}
    .bbs_table [data-cell-header]::before { content: attr(data-cell-header);  display: inline-block;font-weight: 600;padding-right: 6px; letter-spacing: 0;color:#000;}
    .bbs_table td.title {font-size:14px;}
}
/* 기본게시판 write */
.exactly{display:none;width:15px;height:12px;color:transparent;vertical-align:2px;overflow:hidden;}
.exactly.y{display:inline-block;background:url(../images/board/bbs_icon.png) 0 -50px no-repeat;}
.write_guide{color:#222;text-align:right;letter-spacing:-1px;}



/* 기본 게시판 view */
/* bbs_title */
.bbs_title {position:relative; padding:22px 30px; border-top:2px solid #599bdc;border-bottom:1px solid #e6e6e6; background-color: #f2f2f2;;}
.bbs_title .title {display:block; padding-right:165px;  font-size:20px;color:#000; }
.bbs_title .other_box{ position: absolute; right:30px; top:20px; margin-top:5px; font-size:16px; line-height:18px; color:#666; letter-spacing: -0.025rem;}
.bbs_title .other_box span {display:inline-block; vertical-align:middle; padding-right:3px;}
.bbs_title .other_box span:last-child {padding-right:0;}
@media screen and (max-width:1256px) {
    .bbs_title {padding:15px 3%;}
    .bbs_title .title {padding-right:0; font-size:17px; line-height:21px;}
    .bbs_title .other_box {position: static; font-size:14px; line-height:16px;}
}

/* bbs_content */
.bbs_content{width:100%;padding:20px 30px;margin:20px 0 30px;box-sizing:border-box;}
.bbs_content img{max-width:100%;}
@media screen and (max-width:1256px) {
    .bbs_content{padding:10px 3% !important;margin:15px 0;font-size:14px;line-height:1.5em;}
}

/* bbs_image */
.bbs_image{margin:10px 0;line-height:0;text-align:center;}
.bbs_image img{max-width:100%;}

/* bbs_attachments */
.bbs_attachments { margin-bottom:40px; padding:20px 30px 18px; border-top:1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;; }
.bbs_attachments a {position:relative; display:inline-block ;margin:0 5px 0 10px;; /*padding-left:25px;*/}
/*.bbs_attachments a:before{position:absolute;left:0;top:4px;display:inline-block;width:18px;height:18px;  ;content:'첨부파일';font-size:1px;line-height:1px;color:transparent;background-image:url(../images/board/bbs_icon.png);background-position:-250px 0;background-repeat:no-repeat; overflow:hidden;}*/
@media screen and (max-width:1256px) {
    .bbs_attachments{padding:10px 3% 13px; margin-bottom:25px;}
    .bbs_attachments a {display: block;; margin-left:0; margin-right: 0; /*padding-left:25px;*/font-size:14px; }
}


/* 페이징 */
.pagination{position:relative;margin-top:30px;text-align:center;}
.pagination a,.pagination strong{position:relative;display:inline-block;padding:0 22px;margin:0 -1px;font-size:20px;line-height:33px;color:#666;letter-spacing:-2px;vertical-align:middle;overflow:hidden;box-sizing:border-box;}
.pagination strong,.pagination a:hover, .pagination a:focus{color:#599bdc;vertical-align:middle;}
.pagination img{vertical-align:middle;}
.pagination .prev_one,.pagination .next_one {width:33px;height:33px;color:transparent !important; background-position: center center;; background-repeat:no-repeat;background-color:#fff !important;}
.pagination .prev_one{background-image:url(../images/board/prev_one.png);}
.pagination .next_one{background-image:url(../images/board/next_one.png);}
@media only screen and (max-width:1256px) {
    .pagination a,.pagination strong {padding:0 13px; font-size: 16px;;}
    .pagination .prev_one,.pagination .next_one{display:inline-block; width:25px; padding:0; }
}


/* 팝업 */
.bbs_popup_active{overflow:hidden;}
.bbs_popup_active #container{z-index:100;}
.bbs_popup_active #colgroup{z-index:12;}
.bbs_popup{display:none;position:fixed;left:0;top:0;z-index:10000;width:100%;height:100%;}
.bbs_popup_active .bbs_popup{display:block;}
.bbs_popup:before{position:absolute;left:0;top:0;display:block;width:100%;height:100%;content:'';background-color:#000;opacity:0.5;}
.bbs_popup.new_open:before{display:none;}
.bbs_popup .box_wrap{position:relative;left:50%;top:50%;background-color:#fff;transform:translate(-50%,-50%);}
.bbs_popup.new_open .box_wrap{left:0;top:0;transform:translate(0,0);}
.bbs_popup .title_box{min-height:80px;line-height:80px;background-color:#fff;}
.bbs_popup .title_box .title,.bbs_popup .title_box h1{display:inline-block;padding:0 60px 0 30px;font-size:24px;line-height:26px;color:#000;font-weight:600;letter-spacing:-1px;vertical-align:middle;}
.bbs_popup .contents_box{padding:0 30px 60px; overflow-y: scroll;overflow-x: hidden;box-sizing: border-box;} 
.bbs_popup .scroll_box {height: 535px;}
.bbs_popup .close{position:absolute;right:0;top:0;display:inline-block;width:80px;height:80px;padding:0;margin:0;color:transparent;background:url(../images/board/close_bg.png) center center no-repeat;overflow:hidden;}
.bbs_popup_open {display: inline-block;; width:auto; color: #fff !important;background-color: #333; min-width: 120px;height: 45px;padding: 0 10px; line-height: 45px; font-size: 16px;font-weight: 600; border-radius: 5px;}


.bbs_popup  .search_top {display:flex;  padding:14px 0; border-top:2px solid #599bdc;}
.bbs_popup  .search_top span {display:inline-block; margin-bottom:5px; vertical-align: middle;}
.bbs_popup  .search_top span:nth-child(1) {width:150px; line-height:45px;}
.bbs_popup  .search_top span:nth-child(2) {flex: 2 1 0; margin-right:10px}
.bbs_popup  .search_top span input[type="text"] {width:100%;}
.bbs_popup  .search_top span button {height:45px; line-height:45px;}
.bbs_popup  .bbs_table.list thead th,  .bbs_popup .bbs_table.list tbody{color:#000;} 
.bbs_popup  .bbs_table.list td {padding:10px;}
.bbs_popup .bbs_table.list .subject a {font-size:16px; color:#666;}
.bbs_popup .bbs_table.list .subject a span {display:block;color:#000;}
@media only screen and (max-width:1256px){
    .bbs_popup .box_wrap{width:100% !important;height:100%;}
    .bbs_popup.new_open .box_wrap{width:100% !important;}
    .bbs_popup .title_box{min-height:60px;line-height:60px;}
    .bbs_popup .title_box .title,.bbs_popup .title_box h1{padding:0 40px 0 3%;}
    .bbs_popup .contents_box{padding:0 3% 20px;}
    .bbs_popup .close{height:60px;}

    .bbs_popup .search_top {display:block;}
    .bbs_popup .search_top span {display: block;;}
    .bbs_popup .search_top span:nth-child(1) {width:100%; line-height: 20px; margin-bottom: 10px;;}
    .bbs_popup .search_top span:nth-child(2) {margin-right:0;}
    .bbs_popup  .search_top span input[type="text"] {height:40px; line-height:40px;}
    .bbs_popup .search_top span button {width:100%;}
    .bbs_popup .bbs_table.list .subject a {font-size:14px; line-height: 18px;;}
    .bbs_popup_open {min-width: 100px; height:40px; font-size: 14px; line-height: 40px; }
}



/* 회원가입 - 예약수정 */
.sign_up h3 {margin:35px 0  30px}
.sign_up .bbs_table.write:first-child {margin-bottom:60px;}
.sign_up .bbs_table.write td {color:#000;}



/* 예약신청 */
.reservation_request .right_box .form_list {display: flex; justify-content: space-around; margin-bottom:40px;}
.reservation_request .right_box .form_list .cont_box {flex-grow: 1; flex-shrink: 0;  margin-left:35px;}
.reservation_request .right_box .form_list .cont_box:first-child {margin-left:0;}
.reservation_request .right_box .form_list .cont_box h4 {margin-bottom:30px;}
.reservation_request .right_box .form_list .cont_box .cont  {height:800px; padding:20px 35px 35px;  border-style: solid;  border-width: 5px; border-color: rgb(230, 230, 230); border-radius: 20px; box-sizing: border-box;}
.form_item .input_title {display:block; margin-top:30px; margin-bottom:15px}
.form_box input, .form_box select, .form_box textarea, .form_box .js_selectbox, .form_box .calendar_box {flex-grow: 1; width: 100%;}
.form_area {display: flex;position: relative;}
.form_box .input_cont {display: flex;justify-content: center; ; justify-content: space-around;}
.form_box .input_cont select {margin-left:10px; min-width: auto;}
.form_box .input_cont select:first-child { margin-left:0;}
.form_box .zipcode {margin-right:10px;}
.form_box .zipcode_box input{margin-top:10px; width:100%;}
.form_box p {color:#666; margin-top:10px;}
@media only screen and (max-width:1256px){
    .reservation_request .right_box .form_list {display:block;}
    .reservation_request .right_box .form_list .cont_box .cont {height:auto; margin-bottom:20px; padding:10px 3% 20px; border-width: 2px;;}
    .reservation_request .right_box .form_list .cont_box {margin-left:0;}
    .reservation_request .right_box .form_list .cont_box h4 {margin-bottom:15px;}
    .form_item .input_title {margin-top:15px; margin-bottom:10px;}


}